<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvJzCzJbUSzixxhFUwU8PMA8j6cWg1ZbI</string>
	<key>GCM_SENDER_ID</key>
	<string>978658589360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amit.thimarAmitG4</string>
	<key>PROJECT_ID</key>
	<string>thimaramit4</string>
	<key>STORAGE_BUCKET</key>
	<string>thimaramit4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978658589360:ios:e959ad404a48f0850e9975</string>
</dict>
</plist>